<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.NotificationsMapper">
    <update id="updateIsRead" parameterType="com.example.demo.pojo.Notifications">
        UPDATE notifications
        SET is_read = NOT is_read
        WHERE id = #{id}
    </update>
</mapper>